RewriteEngine On
Options FollowSymLinks
RewriteRule ^article_([0-9]+)$ article.php?page=$1 [L,QSA]
RewriteRule ^spisok$ spisok.php [NC]
RewriteRule ^registration$ registration.php [NC]
RewriteRule ^login$ login.php [NC]
RewriteRule ^success$ success.php [NC]
RewriteRule ^$ main.php [NC]
RewriteRule ^about$ about.php [NC]
RewriteRule ^search(.*)$ search.php?q=$зомби [L,QSA]

ErrorDocument 404 /404.php
RewriteRule ^error$ 404.php [NC]
AddDefaultCharset utf-8 



